{% extends 'base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/chores/chore-index.css' %}">
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Chore List</h1>
</section>

<section class="card-container">
  
  <div class="names_list">
    {% for name in new_list %}
    <div id="userlist">
      <h1>{{name}}</h1>
      <div class="card">
        {% for chore in chores %} 
        <div> 
          {% if name == chore.assigned_to %}
          <a href="{% url 'chores_detail' chore.id %}">
            <div class="card-content">
              <h2 id="dow">{{ chore.day_of_week }}</h2>
              <div>
                <h2 id="card-title">{{ chore.name }}</h2>
                <h3 id="indexlocation">{{ chore.location }}</h3>
              </div>
            </div>
          </a>
          {% endif %}  
        </div>   
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}