{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if chore %}
    <h1>Edit Chore</h1>
    <h1>"{{ chore.name }}"</h1>
  {% else %}
    <h1>Add a Chore</h1>
  {% endif %}
  <img src="{% static '' %}" alt="Add Chore"/>
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {% comment %}
      Render the inputs inside of <tr>s & <td>s
    {% endcomment %}
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}