{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<div id="add-main">
  <div class="page-header">
    <div>
      {% if chore %}
        <h1 class="addoredit">Edit Chore</h1>
      {% else %}
        <h1 class="addoredit">Add a Chore</h1>
      {% endif %}
    </div>
      <div>
        <img src="/static/images/7482184741658929553.svg" alt="" class="svgs"/>
        <img src="/static/images/clean.svg" alt="" class="svgs"/>
        <img src="/static/images/5155833401645780282.svg" alt="" class="svgs"/>
      </div>
  </div>
  <div id="addform">
    <form action="" method="post" id="add-chore-form-container">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" class="submitbtn">Submit!</button>
    </form>
  </div>
</div>

{% endblock %}