{% extends 'base.html' %}

{% block content %}
<div id="aboutpg-content">
  <h1 id="abouttitle">About the Chore Board</h1>
  <div id="about-details">
      <p class="page-content">
        Summer is almost over, the activities are winding down, and the kids suddenly have NOTHING to do!</p>
      <p class="page-content">"I'm bored!!" Our response?? "Nonsense!! If you bored, pick up a chore!!!"</p>
      <p class="page-content">The Chore Board is here to add routine and responsibility for the entire household! Set daily chores or add as you need for when the kids get restless!</p>
  </div>
</div>

{% endblock %}