{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<h1>Sign Up</h1>
<div class='signup-container'>
  <div>
    <h1 class="title"><span class='small'>The</span><br>Chore<br>Board</h1>
  </div>
  {% if error_message %}
    <p class="error">{{ error_message }}</p>
  {% endif %}
  <form action="" method="post" id="form-container" autocomplete="off">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="submitbtn">Sign Up!</button>
  </form>
</div>

{% endblock %}