html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  background-image: url("/static/images/blackboard-6498216.jpg");
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: font-family: 'Lato', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  min-height: 100vh;
}


/* 
nav {
  margin: 10px;
} */

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  width: 100%;
  padding: 0 10px;
}

h2 {
  font-size: 20px;
}

.menu-bar {
  background-image: linear-gradient(-90deg, #d6d963, #6fe7db, #c4adc9, #f2a3bd);
  margin: 15px 15px;
}

.navbar-brand{
  font-size: 25px;
  margin: 15px;
  color: black;
  font-weight: bold;
}

.nav-link {
  font-size: 25px;
  margin: 15px;
  color: #f4f4f0!important;
  font-weight: 500;
}

.navbar-nav {
  text-align: right;
  margin-right: 20px;
}

.menu-bar .navbar-toggler {
  padding-right: 20px;
  outline: none!important;
  border: none!important;
}

.navbar .fa{
  color: #f4f4f0!important;
  font-size: 26px;
}

.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid #f4f4f0;
}

.navbar-expand-lg {
  min-width: 100vw;
  min-height: 90px;
}

.navbar-toggler-icon{
  /* width: 20px;
  border: solid 2px black; */
}

.form-container{
  width: 60vw;
  height: 370px;
  background-color: white;
  border-radius: 20px;
  margin: 40px;

}

.signup-container{
  display: flex;
  flex-direction: column;

  align-items: center;
}

.logoimg{
  border-radius: 20px;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helptext{
  font-style: italic;
  font-size: 14px;
}

label{
  font-size: 30px;
}








.error{
  font-size: 30px;
  color: red;
}




@media only screen and (max-width: 1000px){
  .nav-link:hover {
    border-bottom: none!important;
  }
  .nav-link{
    margin: 0;
  }
}

