html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  background-image: url("/static/images/blackboard-6498216.jpg");
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: font-family: 'Lato', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  min-height: 100vh;
  --nav-bg: rgba(104, 197, 248, .7);
  --nav-bg-ff: rgba(104, 197, 248, .9);
  --borders: rgb(36, 116, 248) solid 2px;
  --text-color: rgb(17, 20, 17);
  --link-hover-color: rgb(16, 56, 158);
  --button-bg: rgb(245, 245, 245);
  --button-bg-hover: rgb(226, 226, 226);
  --submit: rgb(26, 128, 0);
  --warn: rgb(255, 102, 0);
  --danger: rgb(220, 20, 30);
  --secondary: rgb(57, 57, 57);
  --card-box-shadow: 5px 5px 6px -1px #AAA;
  --font-xtreme: 4.2rem;
  --font-xxl: 3.6rem;
  --font-xl: 2.4rem;
  --font-l: 1.8rem;
  --font-reg: 1.6rem;
  --card-border-radius: 6px;
}


/* 
nav {
  margin: 10px;
} */

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  width: 100%;
  padding: 0 10px;
}

h2 {
  font-size: var(--font-xl);
}

.menu-bar {
  background-image: linear-gradient(-90deg, #d6d963, #6fe7db, #c4adc9, #f2a3bd);
}

.navbar-brand{
  font-size: 25px;
  margin: 15px;
  color: black;
  
  font-weight: bold;
}

.nav-link {
  font-size: 25px;
  margin: 15px;
  color: #f4f4f0!important;
  font-weight: 500;
}

.navbar-nav {
  text-align: right;
  margin-right: 20px;
}

.menu-bar .navbar-toggler {
  padding-right: 20px;
  outline: none!important;
  border: none!important;
}

.navbar .fa{
  color: #f4f4f0!important;
  font-size: 26px;
}

.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid #f4f4f0;
}

.navbar-expand-lg {
  min-width: 100vw;
  min-height: 90px;
}

@media only screen and (max-width: 1000px){
  .nav-link:hover {
    border-bottom: none!important;
  }
  .nav-link{
    margin: 0;
  }
}
