.addoredit{
  font-size: 36px;
  color: white;
  margin: 40px;
}

.svgs{
  height: 60px;
  width: 60px;
  background-color: white;
  opacity: 0.7;
  border-radius: 7px;
  margin: 40px;
  padding: 10px;
}


.page-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 600px;
  background-color: rgb(255,255,255, 0.9);
  border-radius: 20px;
  margin: 0 60px 60px 60px;

}

select {
  width: 200px;
  height: 30px;
  margin-top: 5px;
  opacity: 0.9;
  font-size: 20px;
  font-family: 'Special Elite', cursive;
}

tr{
  margin: 10px;
}
tbody{
  height: 450px;
}

.submitbtn {
  border: solid 2px #443f46;
  color: #443f46;
  font-size: 20px;
  border-radius: 7px;
  background-color: white;
  margin: 15px;
  padding: 4px 4px 0px 4px
}

td{
  justify-content: center;
  margin: 0;
}

th{
  vertical-align: top;
  padding-top: 14px;
}

#add-main{
  display: flex;
  flex-direction: column;
}

#addform{
  display: flex;
  justify-content: center;
  align-items: center;
}

#id_location{

}

.title{
  font-size: 75px;
  color: #f4f4f0;
  font-weight: bold;
  text-align: center;
}

.small{
  font-size: 30px;
  font-style: italic;
}

@media only screen and (max-width: 1000px){
  .page-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .addoredit {
    margin: 40px 0 0 0;
  }
  .svgs{
    margin-bottom: 0;
  }
}