main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

main > section {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.logoimg{
  border-radius: 30px;
}

#center-homepg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 34vw;
  height: 90vh;
  margin-top: 90px;
}

#loginform{
  height: 250px;
  width: 350px;
  opacity: 0.9;

}

.loginbtn{
  border: solid 2px #443f46;
  color: #443f46;
  font-size: 20px;
  border-radius: 7px;
  background-color: white;
  margin: 15px 0 0 0;
  padding: 4px 4px 0px 4px
}

#login-entire-pg{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly
}

.svgs{
  height: 90px;
  width: 90px;
  background-color: white;
  opacity: 0.7;

  border-radius: 7px;
  margin: 40px;
  padding: 15px;
}

.sideimgs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 33vw;
  height: 100vh;
  /* margin-top: 75px; */
}

.title{
  font-size: 75px;
  color: #f4f4f0;
  font-weight: bold;
  text-align: center;
}

.small{
  font-size: 30px;
  font-style: italic;
}

@media only screen and (max-width: 800px){
  .svgs{
    display: none;
  }
  #loginform{
  height: 300px;
  padding: 10px 40px;
  }
}

