.card-container {
  padding: 0 30px;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);

}

.card-content {
  padding: 10px;
  width: 100%;
  background-color: lightcoral;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.yellow {
  padding: 20px;
}



.names_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* width: 100vw; */
}