.chore-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chore-img {
  width: 75%;
  max-width: 350px;
}

.chore-detail {
  width: 85vw;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  height: 70vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.bubbles{
  max-height: 45px;
  max-width: 45px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}

#detailsname{
  font-size: 50px;
  color: #f4f4f0;
  margin-top: 15px;
}

#details-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
  width: 100vw;
}

.dow{
  background-color: #6fe7db;
  padding: 26px 20px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 90px;
  max-width: 90px;
  color: #443f46;
  border: solid 1px #443f46;
}

#chore-name{
  background-color: #c4adc9;
  opacity: 0.8;
  font-size: 55px;
  font-weight: 900;
  padding: 70px 120px;
  border-radius: 7px;
  border: solid 1px #443f46;
  text-align: center;
}

#chore-location{
  background-color: rgb(247, 247, 194);
  padding: 10px 20px 5px 20px;
  font-size: 16px;
  border-radius: 7px;
  border: solid 1px #443f46;
}

#chore-details{
  font-size: 20px;
  font-style: italic;
}

#chore-details>h1{
  padding: 40px;
}

#detaildiv{
  background-color: #f2bcce;
  padding: 10px 20px 5px 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px #443f46;
}

#introdetails{
  font-size: 13px;
}

.editBtn{
  border: solid 2px #443f46;
  color: #443f46;
  font-size: 20px;
  border-radius: 7px;
  background-color: white;
  margin: 15px;
  padding: 10px 10px 4px 10px;
  text-decoration: none;
}

.deleteBtn{
  border: solid 2px #443f46;
  color: #443f46;
  font-size: 20px;
  border-radius: 7px;
  background-color: white;
  margin: 15px;
  padding: 10px 10px 4px 10px;
  text-decoration: none;
}

#loc{
  margin-right: 30px;
}

@media only screen and (max-width: 1000px){
  #chore-name {
    background-color: #c4adc9;
    opacity: 0.8;
    font-size: 45px;
    font-weight: 900;
    padding: 40px 60px;
    border-radius: 7px;
    border: solid 1px #443f46;
  }
  .chore-detail {
    height: 90vh;
    width: 90vw;
  }
}

@media only screen and (max-width: 500px){
  .chore-detail{
    width: 95vw;
  }
}

@media only screen and (max-width: 400px){
  .chore-detail{
    width: 100vw;
  }
}